{{- $apiContext := (merge dict . .Values.api) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-config" (include "osie.componentName" $apiContext) }}
  namespace: {{ include "common.names.namespace" $apiContext | quote }}
  labels:
    {{- include "osie.labels" $apiContext | nindent 4 }}
data:
  application.yml: |
    logging:
      level:
        root: INFO
    osie:
      license:
        key: {{ .Values.license.key }}
      self:
        api-base-url: https://{{ include "osie.ingressHostname" $apiContext }}{{ $apiContext.httpContext }}
        ui-base-url: {{ include "osie.uiUrl" . }}
    spring:
      data:
        redis:
          repositories:
            enabled: false
      redis:
        host: {{ include "osie.redis.host" . }}
        port: {{ include "osie.redis.port" . }}
      rabbitmq:
        host: {{ include "osie.rabbitmq.host" . }}
        port: {{ include "osie.rabbitmq.port" . }}
        username: {{ include "osie.rabbitmq.user" . }}
    auth:
      main:
        oauth2:
          issuer-uri: {{ include "osie.ui.oauth2IssuerUri" . }}
      admin:
        oauth2:
          issuer-uri: {{ include "osie.admin.oauth2IssuerUri" . }}
    {{- if .Values.sentry.dsn }}
    sentry:
      traces-sample-rate: 1.0
      dsn: {{ .Values.sentry.dsn }}
    {{- end }}
    {{- if .Values.smtp.enabled }}
    smtp:
      host: {{ required ".Values.smtp.host is required" .Values.smtp.host }}
      port: {{ required ".Values.smtp.port is required" .Values.smtp.port }}
      displayName: {{ .Values.smtp.fromDisplayName }}
      email: {{ required ".Values.smtp.from  is required" .Values.smtp.from }}
    {{- if .Values.smtp.auth }}
      username: {{ required ".Values.smtp.user is required" .Values.smtp.user }}
      password: {{ required ".Values.smtp.password is required" .Values.smtp.password }}
    {{- end }}
    {{- end }}
    management:
      health:
        readinessstate:
          enabled: true
        livenessstate:
          enabled: true
      endpoints:
        web:
          exposure:
            include: "health"
      server:
        port: 8081
    server:
      port: 8080
      servlet:
        context-path: {{ $apiContext.httpContext }}
