{{- $apiContext := (merge dict . .Values.api) -}}
{{- $uiContext := (merge dict . .Values.ui) -}}
{{- $adminContext := (merge dict . .Values.admin) -}}
{{- $adminApiContext := (merge dict . .Values.adminApi) -}}
{{- $uiIssuerUri := include "osie.ui.oauth2IssuerUri" . | trim -}}
{{- $adminIssuerUri := include "osie.admin.oauth2IssuerUri" . | trim -}}
{{- $adminApiIssuerUri := include "osie.adminApi.oauth2IssuerUri" . | trim -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ printf "%s-config" (include "osie.componentName" $apiContext) }}
  namespace: {{ include "common.names.namespace" $apiContext | quote }}
  labels:
    {{- include "osie.labels" $apiContext | nindent 4 }}
data:
  application.yml: |
    logging:
      level:
        root: {{ .Values.api.logLevel }}
    osie:
      license:
        key: {{ .Values.license.key }}
      self:
        api-base-url: {{ include "osie.httpScheme" $apiContext }}://{{ include "osie.ingressHostname" $apiContext }}
        ui-base-url: {{ include "osie.uiUrl" . }}
        admin-base-url: {{ include "osie.adminUrl" . }}
    spring:
      rabbitmq:
        host: {{ include "osie.rabbitmq.host" . }}
        port: {{ include "osie.rabbitmq.port" . }}
        username: {{ include "osie.rabbitmq.user" . }}
    auth:
      main:
        {{- if $uiIssuerUri }}
        oauth2:
          issuer-uri: {{ $uiIssuerUri }}
          client-id: {{ include "osie.oauth2ClientId" $uiContext }}
        {{- else }} {}
        {{- end }}
      admin:
        {{- if $adminIssuerUri }}
        oauth2:
          issuer-uri: {{ $adminIssuerUri }}
          client-id: {{ include "osie.oauth2ClientId" $adminContext }}
        {{- else }} {}
        {{- end }}
      admin-api:
        {{- if $adminApiIssuerUri }}
        oauth2:
          issuer-uri: {{ $adminApiIssuerUri }}
          client-id: {{ include "osie.oauth2ClientId" $adminApiContext }}
        {{- else }} {}
        {{- end }}
    {{- if .Values.sentry.dsn }}
    sentry:
      traces-sample-rate: 1.0
      dsn: {{ .Values.sentry.dsn }}
    {{- end }}
    {{- if .Values.smtp.enabled }}
    smtp:
      host: {{ required ".Values.smtp.host is required" .Values.smtp.host }}
      port: {{ required ".Values.smtp.port is required" .Values.smtp.port }}
      displayName: {{ .Values.smtp.fromDisplayName }}
      email: {{ required ".Values.smtp.from  is required" .Values.smtp.from }}
    {{- if .Values.smtp.auth }}
      username: {{ required ".Values.smtp.user is required" .Values.smtp.user }}
      password: {{ required ".Values.smtp.password is required" .Values.smtp.password }}
    {{- end }}
    {{- end }}
    management:
      health:
        readinessstate:
          enabled: true
        livenessstate:
          enabled: true
      endpoint:
        health:
          show-components: always
          show-details: always
      endpoints:
        web:
          exposure:
            include: "*"
      server:
        port: 8081
    server:
      port: 8080
